@font-face {
  font-family: 'Pretendard-Light';
  src: url('../public/fonts/Pretendard-Light.woff2') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('../public/fonts/Pretendard-Regular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('../public/fonts/Pretendard-Medium.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('../public/fonts/Pretendard-SemiBold.woff2') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../public/fonts/Pretendard-Bold.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Bold', 'Pretendard-Light', 'Pretendard-Medium', 'Pretendard-Regular', 'Pretendard-SemiBold';
}

::-webkit-scrollbar {
  width: 7px; /* 스크롤바 너비 */
}

/* 스크롤바 트랙 */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 스크롤바 트랙 배경색 */
  border-radius: 20px; /* 둥근 테두리 */
}

/* 스크롤바 그립 */
::-webkit-scrollbar-thumb {
  background-color: #a3a3a37e; /* 스크롤바 그립 색상 */
  border-radius: 10px;
  transition: all 3000ms ease-in-out;
}

/* 스크롤바 호버 시 */
::-webkit-scrollbar-thumb:hover {
  transition: all 3000ms ease-in-out;
  background-color: #7c7c7c; /* 스크롤바 호버 시 색상 */
}
